/* Hide the dark/light theme toggle in the top navigation bar */
#theme-toggle {
  display: none !important;
}

/* Hide the big page title on the home page */
.layout--home .page__title {
  display: none;
}
